In [ ]:
import pandas as pd

Step 1: Load & Inspect the Data

In [4]:
df = pd.read_csv('BlinkIT Grocery Data.csv')

In [5]:
df.head()

,Item Fat Content,Item Identifier,Item Type,Outlet Establishment Year,Outlet Identifier,Outlet Location Type,Outlet Size,Outlet Type,Item Visibility,Item Weight,Sales,Rating
0,Regular,FDX32,Fruits and Vegetables,2012,OUT049,Tier 1,Medium,Supermarket Type1,0.100014,15.10,145.4786,5.0
1,Low Fat,NCB42,Health and Hygiene,2022,OUT018,Tier 3,Medium,Supermarket Type2,0.008596,11.80,115.3492,5.0
2,Regular,FDR28,Frozen Foods,2016,OUT046,Tier 1,Small,Supermarket Type1,0.025896,13.85,165.0210,5.0
3,Regular,FDL50,Canned,2014,OUT013,Tier 3,High,Supermarket Type1,0.042278,12.15,126.5046,5.0
4,Low Fat,DRI25,Soft Drinks,2015,OUT045,Tier 2,Small,Supermarket Type1,0.033970,19.60,55.1614,5.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item Fat Content           8523 non-null   object
 1   Item Identifier            8523 non-null   object
 2   Item Type                  8523 non-null   object
 3   Outlet Establishment Year  8523 non-null   int64
 4   Outlet Identifier          8523 non-null   object
 5   Outlet Location Type       8523 non-null   object
 6   Outlet Size                8523 non-null   object
 7   Outlet Type                8523 non-null   object
 8   Item Visibility            8523 non-null   float64
 9   Item Weight                7060 non-null   float64
 10  Sales                      8523 non-null   float64
 11  Rating                     8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

Step 2: Data Aggregation and Preparation

In [7]:
# Group by Outlet Identifier and aggregate sales. For categorical columns, take the first value (assuming consistency).
aggregated_data = df.groupby("Outlet Identifier").agg({
    "Sales": "sum",
    "Outlet Type": "first",
    "Outlet Size": "first",
    "Outlet Location Type": "first",
    "Outlet Establishment Year": "first"
}).reset_index()

# Check the aggregated data
print(aggregated_data.head())

  Outlet Identifier        Sales        Outlet Type Outlet Size  \
0            OUT010   78131.5666      Grocery Store       Small
1            OUT013  131809.0156  Supermarket Type1        High
2            OUT017  129103.9604  Supermarket Type1       Small
3            OUT018  131477.7764  Supermarket Type2      Medium
4            OUT019   73807.5824      Grocery Store       Small

  Outlet Location Type  Outlet Establishment Year
0               Tier 3                       2011
1               Tier 3                       2014
2               Tier 2                       2020
3               Tier 3                       2022
4               Tier 1                       2018

Step 3: Data Preprocessing

In [8]:
# Select features and target
features = aggregated_data[["Outlet Type", "Outlet Size", "Outlet Location Type", "Outlet Establishment Year"]]
target = aggregated_data["Sales"]

# One-Hot Encode the categorical features
features_encoded = pd.get_dummies(features, columns=["Outlet Type", "Outlet Size", "Outlet Location Type"], drop_first=True)

print(features_encoded.head())

   Outlet Establishment Year  Outlet Type_Supermarket Type1  \
0                       2011                          False
1                       2014                           True
2                       2020                           True
3                       2022                          False
4                       2018                          False

   Outlet Type_Supermarket Type2  Outlet Type_Supermarket Type3  \
0                          False                          False
1                          False                          False
2                          False                          False
3                           True                          False
4                          False                          False

   Outlet Size_Medium  Outlet Size_Small  Outlet Location Type_Tier 2  \
0               False               True                        False
1               False              False                        False
2               False               True                         True
3                True              False                        False
4               False               True                        False

   Outlet Location Type_Tier 3
0                         True
1                         True
2                        False
3                         True
4                        False

Step 4: Split Data into Training and Testing Sets